html, body {
	margin: 0px;
	padding: 0px;
}

h1 {
    margin: 0px;
    line-height: 3em;
    height: 100px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    background: #eee url("./../img/logo.png") 95% no-repeat;
    background-size: 32px;
}

.sidebar {
	padding: 2%;
	width: 16%;
	float: left;
	min-height: 500px;
}

#container {
	padding: 5%;
	width: 70%;
	float: left;
	min-height: 500px;
	font-size: 12px;
}

.nav,
.page {
	width: 100%;
	float: left;
	font-family: helvetica;
	line-height: 2em;
	cursor: pointer;
	color: #3B3b3b;
}

.page.selected {
	color: #0088CC;
	font-weight: bold;
}

.nav span:hover {
	color: #0088CC;
}

.nav .nav {
	padding-left: 15%;
	width: 85%;
}

.nav .page {
	font-weight: bold;
} 

.nav .nav span {
	font-size: 14px;
}

.nav .nav .page {
	padding-left: 25%;
	width: 75%;
	float: left;
	font-weight: bold;
}

.panel,
.boxes,
.renderer {
	width: 88%;
	padding: 2%;
	margin: 2%;
	box-shadow: 0px 1px 2px #aaa;
	float: left;
	font-family: helvetica;
}

#builder .boxes,
.renderer {
	box-shadow: none;
	padding-bottom: 0px;
	padding-top: 0px;
}

.panel.buttons .renderer,
.panel.buttons .renderer .CodeMirror {
	float: left;
	width: 70%;
	font-family: helvetica;
	font-weight: bold;
	height: 28px;
	padding-top: 0px;
}

.panel.buttons .renderer {
	margin-top: 10px;
}

.panel button {
	float: left;
}

.boxes span.box {
	text-align: center;
	line-height: 2em;
}

#builder .boxes .box {
	height: 200px;
	background: #aaa;
}

#builder .boxes .box.dark {
	background: #3B3B3B;
}

.copy {
	background: url("./../img/copy.png") no-repeat;
	background-size: 18px;
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 2px;
	cursor: pointer;
	display: none;
}

.renderer:hover .copy {
	display: block;
}
