.mr-comment {
	display: none
} 

.mr-hidding {
	position: fixed; 
	background: #000; 
	opacity: 0.7; 
	z-index: 10000
}

.mr-comment-container {
	position: fixed; 
	background: #000; 
	z-index: 100000; 
	box-shadow: 0px 0px 3px #000;
}

.mr-comment-container .screenshots {
	float: left;
	padding-left: 2%;
	padding-right: 2%;
    width: 40%;
    height: 100%;
	overflow: hidden;
}

.mr-comment-container.medias .screenshots {
   width: 46%;
}

.mr-comment-container.medias .screenshots.extra,
.mr-comment-container .screenshots.extra {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.mr-comment-container.medias .screenshots.extra .slideshow {
	width: 96%;
}

.mr-comment-container img {
	margin: auto;
	width: 100%;
	height: 100%;
}

.mr-comment-container .comments {
	color: #fff;
    display: block;
	padding: 5%;
	padding-top: 40px;
	padding-bottom: 20px;
	width: 46%;
	float: left;
	font-size: 14px;
	font-family: helvetica;
	font-weight: bold;
	overflow-y: auto;
}

.mr-comment-container.medias .comments {
	width: 40%;
}

.mr-comment-container .comments h4 {
	font-size: 16px;
}

.mr-comment-container .comments h3 {
	font-size: 20px;
}

.mr-comment-container .comments h2 {
	font-size: 24px;
}

.mr-comment-container .comments > * {
	float: left;
	width: 100%;
}

.mr-comment-container .comments ul {
	list-style: none
}

.mr-comment-container .comments ul li::before {
	content: "•"; color: #FFFFFF;
	display: inline-block; width: 1em;
	margin-left: -1em
}

.mr-arrow { 
	box-shadow: 0px 0px 2px #3b3b3B; 
	position: fixed; 
	top: 45%; 
	cursor: pointer; 
	font-size: 44px; 
	background: #000; 
	padding-left: 14px; 
	padding-right: 14px; 
	border-radius: 24px; 
	color: #fff; 
	font-weight: bold; 
	z-index: 1000000;
	background: #0088BB;
}

.mr-remove {
	box-shadow: 0px 0px 2px #3b3b3B; 
	position: fixed; 
	top: 5%; 
	right: 1%;
	cursor: pointer; 
	font-size: 44px; 
	padding-left: 14px; 
	padding-right: 14px; 
	border-radius: 24px; 
	color: #fff; 
	font-weight: bold; 
	z-index: 1000000;
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1em;
    padding-bottom: 6px;
	background: #be0000;
}

.mr-edit {
	position: fixed; 
	top: 14%; 
	right: 1%;
	cursor: pointer;  
	padding-left: 14px; 
	padding-right: 14px; 
	border-radius: 24px; 
	color: #fff; 
	font-weight: bold; 
	z-index: 1000000;
    line-height: 1em;
	background: #4bd74c url("./../img/edit.png") no-repeat center center;
	background-size: 33px;
	width: 25px;
	height: 50px;
}

.mr-arrow:hover {
	background: #0088EE
}

.mr-remove:hover {
	background: red;
}

.mr-edit:hover {
	background: #95ec96 url("./../img/edit.png") no-repeat center center;
	background-size: 33px;
}

.mr-arrow.left{
	left: 25px;
} 

.mr-arrow.right {
	right: 25px;
}